.itemsList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  .itemsListContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .filtersSortsSearch {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      .filters {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
      }

      .sortsSearch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 100%;

        .sorts {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
        }

        .search {

        }
      }
    }

    .itemsListTable {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      table {
        border: 1px solid #eee;
        table-layout: fixed;
        width: 100%;

        .actions {
          display: flex;
          justify-content: space-around;
          gap: 10px;
          align-items: center;

          a {
            font-size: 24px;
            text-decoration: none;
            color: black;
          }
        }

        th {
          font-weight: bold;
          padding: 5px;
          background: #efefef;
          border: 1px solid #dddddd;
        }

        td {
          height: 100%;
          padding: 5px 10px;
          border: 1px solid #eee;
          text-align: left;
        }

        tbody tr:nth-child(odd) {
          background: #fff;
        }

        tbody tr:nth-child(even) {
          background: #F7F7F7;
        }
      }
    }

    h1 {
      margin: 0 auto;
    }

    button {
      cursor: pointer;
    }

    .itemsLoading {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    .pagination {
      display: flex;
      gap: 10px;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .paginationBlock{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}